    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
    .heading-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 2rem !important;
        line-height: 22px;
        padding-bottom: 18px;
    }
    
    .image-premier img {
        position: absolute;
        margin-top: 109px;
        margin-left: -235px;
    }
    
    .img-container {
        width: 250px;
        position: relative;
        float: left;
        /* margin-top: 30px; */
        /* margin-left: rem; */
        /* margin-bottom: 15px; */
        box-shadow: 5px 9px 23px -6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 5px 9px 23px -6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 5px 9px 23px -6px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
    
    .title-container {
        /* position: auto    */
        position: relative;
        font-size: 18px;
        width: 250px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-top: 156px;
        margin-bottom: 5px;
        letter-spacing: 0.2px;
    }
    
    .duration_container {
        position: absolute;
        background-color: #000000;
        opacity: 70%;
        color: whitesmoke;
        font-size: 12px;
        padding: 5px;
        border-radius: 2px;
        display: flex;
        z-index: 2;
        margin: 105px 0 0 185px;
        font-family: 'Roboto', sans-serif;
    }
    
    .content-title {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        margin: 0px;
        width: 250px;
        align-items: center;
        letter-spacing: 0.4px;
        color: #999999;
    }
    /* .container {
        position: flex;
        margin-right: -250px;
        margin-bottom: 25px;
    } */
    
    .progressBar-container {
        background-color: #EEEEEE;
        justify-content: flex-start;
        /* border-radius: 100px; */
        align-items: center;
        position: relative;
        /* padding: 0 5px; */
        display: flex;
        height: 7px;
        width: 250px;
        margin-top: -185px;
        margin-bottom: 100px;
    }
    
    .progressBar-value {
        animation: load 3s normal forwards;
        box-shadow: 0 10px 40px -10px #fff;
        /* border-radius: 100px; */
        background-color: #FC0F3A;
        height: 7px;
        /* width: ; */
    }
    
    @keyframes load {
        0% {
            /* width: 0; */
        }
        100% {
            /* width: 68%; */
        }
    }